==
<div class="row ">
    <div class="col">
        <img src="{{ 'assets/assets/logo.png'|theme }}" height="76" class="py-3 ml-5" alt="" />
    </div>
    <div class="col-5">
        <nav class="nav justify-content-center">
            <a class="nav-link active" href="#">O nás</a>
            <a class="nav-link" href="#">Open Lab</a>
            <a class="nav-link" href="#">Software Lab</a>
            <a class="nav-link" href="#">Games Lab</a>
            <a class="nav-link" href="#">Kontakt</a>
        </nav>
    </div>
    <div class="col">
        <button type="button" class="btn btn-outline-secondary">Komunita</button>
        <button type="button" class="btn btn-outline-secondary">Podporte nás</button>
    </div>
</div>